// @extend %listreset;
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// @extend %center-xy
%center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// @extend %center-y
%center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// @extend %center-x;
%center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// @extend %fit-img;
%fit-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//extend %slider-fix;
%slider-fix {
	.swiper-pagination {
		@media (min-width: 481px) {
			display: none;
		}
	}
	.swiper-pagination-bullet  {
		background: $dark-blue !important;
	}
}
